<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/static/css/leo.css">

    </head>
    <body>
      <div class="container">
        <div class="leo-head">
          {% include head.html %}
        </div>
        <div class="leo-body">
          <div class="leo-body-left">
            {{ content }}
          </div>
          <div class="leo-body-right">
            right
          </div>
          <div class="clear"/>
        </div>
        <div class="leo-foot">
          {% include foot.html %}
        </div>
      </div>
    </body>
</html>
